.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c4c106;
  height: 100vh;
}

.container h1{
  font-family: "Roboto";
  font-weight: bold;
}

.container input{
  height: 25px;
  width: 250px;
  text-align: center;
  border-width: 1px;
  border-color: black;
  border-radius: 20px;
}

.container p{
  font-family: "Roboto";
  font-size: 50px;
  font-weight: bold;
  margin-top: 50px;
}